# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# Mac DS_Store Files
.DS_Store

# composer
/vendor
composer.phar
composer.lock

# phpunit
phpunit.phar
/phpunit.xml
.phpunit.result.cache

# build
build
/.php-cs-fixer.cache
/coverage.clover
